.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#titleName{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -45vh;
  font-size: 30px;
  font-family: 'Lexend Tera', sans-serif;
}
#sentencesTyped{
font-size: 16px;
font-family: 'Lexend Tera', sans-serif;
}
